<?xml version="1.0" encoding="UTF-8"?>
<phpunit stderr="true" colors="true" bootstrap="tests/bootstrap.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <file>./src/webfiori/error/TraceEntry.php</file>
            <file>./src/webfiori/error/Handler.php</file>
            <file>./src/webfiori/error/AbstractHandler.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Tests">
            <directory>./tests/webfiori/tests/error</directory>
        </testsuite>
    </testsuites>
</phpunit>